html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
  font-size: 0;
  max-width: 80rem;
  margin: 0 auto;
}

.user {
  width: 25%;
  box-sizing: border-box;
  padding: 2rem;
  display: inline-block;
  vertical-align: top;
}

.user__image {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: .5rem solid rgb(30, 56, 121);
  transition: 0.3s all ease;
  opacity: 1;
}

.user:hover .user__image,
.user:focus .user__image {
  border: 1rem solid rgb(14, 21, 50);
  opacity: 0.8;
}

.user__name {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.projects {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}
.project {
  font-size: 2rem;
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.project__name {

}

.project__text {

}

.project__link {
  text-decoration: none;
}

@media screen and (max-width: 60rem) {

}
