html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ECEFF1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
  font-size: 0;
  max-width: 80rem;
  margin: 0 auto;
}

.user {
  width: 25%;
  box-sizing: border-box;
  padding: 2rem;
  display: inline-block;
  vertical-align: top;
	text-decoration: none;
}

.user__image {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: .5rem solid rgb(30, 56, 121);
  transition: 0.3s all ease;
}

.user:hover .user__image,
.user:focus .user__image {
  border: .8rem solid rgb(14, 21, 50);
}

.user__name {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
	color: black;
}

.projects {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}
.project {
  font-size: 2rem;
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.project__name {

}

.project__text {

}

.project__link {
  text-decoration: none;
}

.userprofile {
	max-width: 80rem;
	margin: 4rem auto;
	border-radius: .5rem;
	padding: 3rem;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	animation: dropin .5s normal forwards ease;
	/*animation-iteration-count: 1*/
}
.userprofile:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.userprofile__profile {
	box-sizing: border-box;
	padding-left: 4rem;
	width: 35%;
	display: inline-block;
	vertical-align: top;
}
.userprofile__image {
	width: 20%;
	max-width: 15rem;
	display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  border: .5rem solid #d9dcde;
  transition: 0.3s all ease;
}
.userprofile__link {
	text-decoration: none;
}
.userprofile__text {
	font-size: 1.5rem;
}
.userprofile__name {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.userprofile__project {
	font-size: 1.5rem;
	padding: .3rem;
	display: block;
	color: blue;
	transition: 1s all ease;
}
.userprofile__project:hover,
.userprofile__project:focus {
	color: black;
}

.userprofile__profile--controls {
	width: 10%;
}

.userprofile__close {
  font-size: 1.5rem;
  text-align: center;
  border-radius: .4rem;
  padding: .5rem 1rem;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #FFCDD2;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	float: right;
}

.userprofile__close:hover, .userprofile__close:focus {
  background-color: #F44336;
  color: white;
}

@keyframes dropin {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}
	to {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (max-width: 60rem) {

}
